<div class="d-flex justify-content-center">
        <div class="col-md-3 login-card">
          <h1 style="text-align:center;color:#454545ba">
            <i style="color:#3758a7b3"class="fa fa-lock" ></i>&nbsp;Sign in</h1>
<br/>
      <div class="form-group form-group-formatted">
        <label  class="required gray-label">Email</label>
        <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm">
      </div>
      <div style="display:inline-flex" class="form-group form-group-formatted">
      <label  class="required gray-label" >Password</label>
      <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" style="min-width: 230px" class="form-control form-control-sm pull-left">
                <button type="button" style="margin: 0" class="btn btn-outline-secondary pull-right" (click)="user.showPassword = !user.showPassword">
                  <i class="fa" [ngClass]="{'fa-eye-slash': user.showPassword,'fa-eye': !user.showPassword}"></i>
                </button>
    </div>
     <div class="row" style="padding-bottom:30px;">
      <div class="col-md-12">
        <a style="margin-left:30px;color:#3758a7b3" routerLink="/signUp">Don't have an account yet?</a>
      </div>  
      <div class="col-md-12">
          <button type="button" (click)="signIn()" class="btn btn-sm btn-fav float-right" style="margin-right:20px;" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
            Sign in
          </button>
        </div>
        <div class="col-md-12" *ngIf="errorMessage">
          <span style="margin-left:20px;color:red">{{errorMessage}}</span>
        </div>
      </div>
 
</div>
</div>

