
<!-- Verify account section -->

  <div class="d-flex justify-content-center" *ngIf="isConfirm">
    <div class="col-md-3 login-card">
      <h1 style="text-align:center;color:#454545ba">
        <i style="color:#3758a7b3"class="fa fa-code" ></i>&nbsp;Verify account</h1>
<br/>
  <div class="form-group form-group-formatted" >
    <label  class="required gray-label">Code</label>
    <input type="email" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
  </div>
 <div class="row" style="padding-bottom:30px;">
    <div class="col-md-12">
      <button type="button" (click)="confirmSignUp()" style="margin-right:20px;" class="btn btn-sm btn-fav float-right" [disabled]="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
        Confirm
      </button>
    </div>
  </div>

</div>
</div>

<!-- Sign up account section -->
  <div class="d-flex justify-content-center" *ngIf="!isConfirm">
    <div class="col-md-3 login-card">
      <h1 style="text-align:center;color:#454545ba">
        <i style="color:#3758a7b3"class="fa fa-user-plus" ></i>&nbsp;Sign up</h1>
   <br/>
  <div class="form-group form-group-formatted" >
    <label  class="required gray-label">Email</label>
    <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm">
  </div>
  <div style="display:inline-flex" class="form-group form-group-formatted">
  <label  class="required gray-label" >Password</label>
  <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" style="min-width: 230px" class="form-control form-control-sm pull-left">
            <button type="button" style="margin: 0" class="btn btn-outline-secondary pull-right" (click)="user.showPassword = !user.showPassword">
              <i class="fa" [ngClass]="{'fa-eye-slash': user.showPassword,'fa-eye': !user.showPassword}"></i>
            </button>
</div>
 <div class="row" style="padding-bottom:30px;">
    <div class="col-md-12">
      <div class="col-md-12">
        <a style="margin-left:20px;color:#3758a7b3" routerLink="/signIn">Do you have an account already?</a>
      </div>  
      
      <button type="button" (click)="signUp()" class="btn btn-sm btn-fav float-right" style="margin-right:20px;" [disabled]="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
        Sign up
      </button>
    </div>
    <div class="col-md-12" *ngIf="errorMessage">
      <span style="margin-left:20px;color:red">{{errorMessage}}</span>
    </div>
  </div>

</div>
</div>